@import "../../Styles/vars";
@import "../../Styles/mixins";

.button {
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: transparent;
  color: white;
  background-color: $color-basic;
  border-radius: 4px;
  @include transition-all;
  border: 0px solid transparent;
  font-size: .9rem;
  &:focus {
    outline: none;
  }
  &:disabled,
  &[disabled] {
    @include transition-all;
    opacity: 0.7;
  }
}
