.swipeOverlay {
    position: relative;
    transition: transform 0.2s ease-out;
  }
  
  .swiped .contentBefore {
    transform: translateX(-100%);
  }

.contentBefore {
    border: 2px solid green;
}
.contentStatic {
    border: 2px solid grey;
}
.contentAfter {
    border: 2px solid red;
}