@import "../../Styles/vars";

.cartElement {
  position: relative;
  box-shadow: 0 6px 6px rgba(101, 101, 101, 0.07),
    0 13px 17px rgba(21, 21, 21, 0.2);
  margin: 10px 0;
  padding: 10px;
  background-color: $color-white;

  border: 1px solid red;
  overflow: hidden;
}
.contentBefore {
  background-color: blue;
  width: 100px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -100px;
  transition: all 1s ease;
  display: flex;
  &.show {
    left: 0px;
    transition: all 1s ease;
  }
}
.contentStatic {
  position: relative;
  left: 0px;
  transition: all 1s ease;

  &.swipe {
    left: 100px;
    width: calc(100% - 100px);
    transition: all 1s ease;
  }
  .confirmDelete {
    background-color: $color-orange;
    margin: 0 auto;
    display: block;
  }
}
.contentAfter {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  font-size: 0.8rem;
}
