@import "../../Styles/vars";

.mainNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  &__item {
    text-decoration: none;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $color-gray;
    &:hover {
      text-decoration: underline;
    }
    &.active {
      color: $color-basic;
      font-weight: 600;
    }
  }
}
