@import "../../Styles/mixins";

.productListPage {
  padding-bottom: 200px;
  .lazyScroll {
    @include is-grid;
    .cartElement {
      min-height: 230px;
      min-width: 33%;
      align-self: stretch;
      display: flex;
      justify-content: stretch;
    }

    .contentStatic {
      flex: 1; //prend toute la hauteur disponible dans .cartElement 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .contentAfter {
      margin-top: auto; //place  .contentAfter en bas du bloc .contentStatic
    }
  }

  .listItem {
    align-self: center;
    justify-content: center;
    // selectionne les deux derniers éléments
    &:nth-last-child(-n + 2) {
      justify-self: start; //aligne les deux derniers éléments à gauche
    }
  }
}


